<label>Server Name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)"/>
<p>{{ serverName }}</p>
<br />
<input type="text" class="form-control" [(ngModel)]="serverName"/>
<p>{{ serverName }}</p>
<button class="btn btn-primary" [disabled]="!allowNewServers" (click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="allowNewServers"></p> -->
<!-- <p id="parag" #parag>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{serverName}}</p>
<ng-template #noServer>
    <p>No server was created</p>
</ng-template>

<app-server *ngFor="let srv of servers; let i = index"
    [ngStyle]="{backgroundColor: i >= 3 ? 'blue' : 'transparent'}">
</app-server> 

